<a href="https://colab.research.google.com/github/9595hyt/Introduction-to-Data-Science-in-Python-University-of-Michigan/blob/main/Introduction_to_Data_Science_in_Python_University_of_Michigan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1.2 intro

In [24]:
print('python specialization from michigan university')

python specialization from michigan university

In [25]:
x=5
print(x+1)

6

In [26]:
i=1
while i<100:
    i=1

KeyboardInterrupt: ignored

#BIG HEADING
__SPECIAL TEXT__

In [ ]:
ls

#big
##medium
###small
####tiny
#####very tiny

In [ ]:
print("world")

In [ ]:

In [1]: a = 5

In [2]: a
Out[2]: 5

In [ ]:
import numpy as np

data = [np.random_normal() for i in range (7)]
print(data)

In [ ]:
x = 1
y=2
x+y

In [ ]:
i=2
print (i+4)

In [ ]:
def add_numbers(x,y,2):
  return x+y+2

print(add_numbers(1,2,2))

In [ ]:
def add_numbers(x,y,z):
  return x+y+z
print (add_numbers(1,2,3))

In [ ]:
def add_numbers(x,y, z=None):
  return x+y+z
add_numbers(1,2,3)

In [ ]:
def add_numbers(x,y,z=None):
  if (z==None):
    return x+y
  else:
    return x+y+z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

In [ ]:
def add_numbers(x,y,z=None, flag=False):
  if(flag):
    print('Flag is true')
  if(z==None):
    return x+y
  else:
    return x+y+z

print(add_numbers(1,2,flag=True))

In [ ]:
def do_math(a,b,kind='add'):
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1,2)

In [ ]:
x=(1,'a',2,'b')
type(x)

In [ ]:
x=[1,'a',2,'b']
  x.append(33)

In [ ]:
x=[1,2,3]
x.append(3)
print(x)

In [ ]:
for item in x:
  print (item)

In [ ]:
i=0
while (i != len(x)):
  print(x(i))
  i=i+1

In [ ]:
x='this is a string'
print(x[0])
print(x[0:2])

In [ ]:
x[-1]

In [ ]:
x[:3]

In [ ]:
firstname='Christopher'
lastname='Brooks'

print(firstname + ' '+lastname)
print(firstname*3)
print('chris' in firstname)

In [ ]:
firstname='Christopher Arthur Yh'.split(' ')[0]
lastname='Christore Arthr YH'.split(' ')[-1]
print(firstname + ' '+lastname)

In [ ]:
x={'ting':'tingleib@xnomad.co','yue':'yuleib@xnomad.co'}
x['ting']

In [ ]:
x['hu']=None
x['hu']

In [ ]:
for name in x:
  print (x[name])

In [ ]:
for email in x.values():
  print(email)

In [ ]:
for name, email in x.items():
  print(name)
  print(email)

In [ ]:
x=('yue','ting','ting@xnomad.co')
fname, lname, email=x

In [ ]:

fname

In [ ]:
lname

In [ ]:
x

In [ ]:
sales_record={'price':3.24,
              'num_items':4,
              'person':'chris'}
sales_statement ='{}bought{} items at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

In [ ]:
dtnow =dt.datetime.fromtimetstamp(tm.time())
dtnow

In [11]:
delta = ft.timedelta(days=100)
delta

NameError: ignored

In [15]:
class Person:
  department ='School of IT'

  def set_name(self,new_name):
    self.name=new_name
  def set_location (self, new_location):
    self.location =new_location

In [20]:
person=Person()
person.set_name('yth')
person.set_location('sankt paulsgatan')
print('{}live in {} and works in the department {}'.format(person.name, person.location,person.department))

ythlive in sankt paulsgatan and works in the department School of IT

In [23]:
store1=[10.00,11.00,12.34,2.34]
store2=[9.00,11.10,12.34,2.01]
cheapest =map(min,store1,store2)
cheapest

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))